<!DOCTYPE html>
<html lang="en" xmlns:th="htp://www.thymeleaf.org">
	<head>
		<meta charset ="UTF-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	</head>
	<body>
		<nav>
		    <div class="nav-wrapper pink">
		      <a href="#" class="brand-logo right"></a>
		      <ul id="nav-mobile" class="left hide-on-med-and-down">
		        <li><a th:href="@{/cadastro}">Cadastro</a></li>
		        <li><a th:href="@{/consulta}">Consulta</a></li>
		      </ul>
		    </div>
	 	 </nav>
		<h1>Página inicial</h1>
		
		
	</body>
</html>